In [ ]:
# Importar librerías necesarias
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import payments_manager as pm
#pm.help()
pm.init() #debug=True)
pm.info()
display(pm.df("fe_cp"))

Lista de dataframes: ['cr', 'fe', 'cr_cp', 'fe_cp']

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,NaN,NaN,after
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21056,12372,20262.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 20262,2020-10-10 06:42:22.822743+00,2020-10-13 14:25:04.18049+00,2020-11-17 05:14:00.080854+00,NaN,NaN,after
21057,20768,26764.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 26764,2020-10-31 15:24:18.680694+00,2020-10-31 15:24:18.680715+00,2020-12-16 07:10:54.697639+00,NaN,NaN,after
21058,18779,25331.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 25331,2020-10-27 17:28:51.749177+00,2020-10-27 17:28:51.7492+00,2020-11-18 04:35:42.915511+00,NaN,NaN,after
21059,16542,23628.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 23628,2020-10-23 16:27:52.047457+00,2020-10-23 16:27:52.047486+00,2020-12-18 05:18:01.465317+00,NaN,NaN,after
21060,13301,20982.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20982,2020-10-14 07:12:43.958192+00,2020-10-14 07:12:43.958219+00,2021-02-12 13:02:46.95022+00,NaN,NaN,after

In [ ]:
# Importar librerías necesarias
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import payments_manager as pm
#pm.help()
pm.init() #debug=True)
pm.info()
cr_cp = pm.df('cr_cp')
fe_cp = pm.df('fe_cp')

#display(cr)

# Normalitzar i deslocalitzar dates
date_cols = ['updated_at','moderated_at','reimbursement_date','cash_request_received_date',
             'money_back_date','send_at','reco_creation','reco_last_update']
for col in date_cols:
    if col in cr_cp.columns:  # Comprova si la columna existeix
        cr_cp[col] = pd.to_datetime(cr_cp[col], errors='coerce')  # Normalitza les dates
        cr_cp[col] = cr_cp[col].dt.tz_localize(None)  # Elimina la informació de zona horària
cr_cp['user_id'] = cr_cp['user_id'].fillna(0).astype(int)
cr_cp.info()
#display(cr_cp)

#if 'cash_request_id' not in fe_cp.columns:
#    fe_cp['cash_request_id'] = 0  # O un altre valor predeterminat
#fe_cp['cash_request_id'] = fe_cp['cash_request_id'].fillna(0).astype(int)
fe_cp['cash_request_id'] = fe_cp['cash_request_id'].astype(int)

# Normalitzar i deslocalitzar dates
date_cols = ['created_at','updated_at','paid_at','from_date','to_date']
for col in date_cols:
    if col in fe_cp.columns:  # Comprova si la columna existeix
        fe_cp[col] = pd.to_datetime(fe_cp[col], errors='coerce')  # Normalitza les dates
        fe_cp[col] = fe_cp[col].dt.tz_localize(None)  # Elimina la informació de zona horària
fe_cp.info()

Lista de dataframes: ['cr', 'fe', 'cr_cp', 'fe_cp']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  datetime64[ns]
 4   updated_at                  23970 non-null  datetime64[ns]
 5   user_id                     23970 non-null  int64
 6   moderated_at                15912 non-null  datetime64[ns]
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          3050 non-null   datetime64[ns]
 9   cash_request_received_date  16289 non-null  datetime64[ns]
 10  money_back_date             12040 non-null  datetime64[ns]
 11  transfer_type               23970 non-null  object
 12  send_at                     16466 non-null  datetime64[ns]
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   datetime64[ns]
 15  reco_last_update            3330 non-null   datetime64[ns]
 16  Mes_created_at              23970 non-null  period[M]
dtypes: datetime64[ns](9), float64(2), int64(2), object(3), period[M](1)
memory usage: 3.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21061 non-null  int64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  datetime64[ns]
 8   updated_at       21061 non-null  datetime64[ns]
 9   paid_at          15438 non-null  datetime64[ns]
 10  from_date        6749 non-null   datetime64[ns]
 11  to_date          6512 non-null   datetime64[ns]
 12  charge_moment    21061 non-null  object
dtypes: datetime64[ns](5), float64(1), int64(2), object(5)
memory usage: 2.1+ MB

In [ ]:
import payments_manager as pm
pm.init()
cr_cp = pm.df('cr_cp')
fe_cp = pm.df('fe_cp')

# Verifica duplicats a fe_cp
duplicats_fe_cp = fe_cp[fe_cp.duplicated(subset=['id', 'cash_request_id'], keep=False)]
#print(duplicats_fe_cp)

# Verifica duplicats a cr_cp
duplicats_cr_cp = cr_cp[cr_cp.duplicated(subset=['id'], keep=False)]
#print(duplicats_cr_cp)

#display(fe_cp[['id','cash_request_id']])
#df_jo = pd.merge(cr_cp, fe_cp,  on=['id','cash_request_id'], how ="left")
df_jo = pd.merge(cr_cp, fe_cp, left_on='id', right_on='cash_request_id', how ="left")
df_jo.info()
pm.add(df_jo,"df_jo")

###### Ale
# Añadir la columna 'active': 1 si deleted_account_id es NaN, de lo contrario 0
df_jo['active'] = df_jo['deleted_account_id'].apply(lambda x: 1 if pd.isna(x) else 0)

# Migrar user_id:
# - Para las filas donde deleted_account_id existe, usar "99" + deleted_account_id
# - De lo contrario, mantener el user_id original
df_jo['user_id'] = df_jo.apply(
    lambda row: int(f"99{int(row['deleted_account_id'])}") if not pd.isna(row['deleted_account_id']) else row['user_id'],
    axis=1
)

# Eliminar la columna 'deleted_account_id'
cr_new = df_jo.drop(columns=['deleted_account_id'])
###### 

fields = ['id_x as id_cr','amount','status_x as stat_cr','created_at_x','user_id','moderated_at: 0=manual 1=auto','reimbursement_date',
          'cash_request_received_date', 'money_back_date','transfer_type','send_at','recovery_status: 0= null, 1=no, 2=si, etc.','',
          'type','status_y as stat_fe','category','total_amount','paid_at','from_date','to_date','charge_moment 0=after, 1=before'] 
'''
     id_x                        32094 non-null  int64         
 1   amount                      32094 non-null  float64       
 2   status_x                    32094 non-null  object        
 3   created_at_x                32094 non-null  datetime64[ns]
 4   updated_at_x                32094 non-null  datetime64[ns]
 5   user_id                     32094 non-null  int64         
 (pasar de qualitativo a quant.) 6   moderated_at                21530 non-null  datetime64[ns]
 7   deleted_account_id          2573 non-null   float64       
 8   reimbursement_date          4061 non-null   datetime64[ns]
 9   cash_request_received_date  24149 non-null  datetime64[ns]
 10  money_back_date             17204 non-null  datetime64[ns]
 11  transfer_type               32094 non-null  object        
 12  send_at                     22370 non-null  datetime64[ns]
 
 13  recovery_status             7200 non-null   object        
 14  reco_creation               7200 non-null   datetime64[ns]
 15  reco_last_update            7200 non-null   datetime64[ns]
 
 16  (Mes_created_at) calculada  32094 non-null  period[M]     
 17  id_y                        21057 non-null  float64       
 18  cash_request_id             21057 non-null  float64       
 19  type                        21057 non-null  object        
 20  status_y                    21057 non-null  object        
 21  category                    2196 non-null   object        
 22  total_amount                21057 non-null  float64       
 23  reason                      21057 non-null  object        
 24  created_at_y                21057 non-null  datetime64[ns]
 25  updated_at_y                21057 non-null  datetime64[ns]
 26  paid_at                     15438 non-null  datetime64[ns]
 27  from_date                   6749 non-null   datetime64[ns]
 28  to_date                     6512 non-null   datetime64[ns]
 29  charge_moment   
'''


#display(df_jo[['id_x','created_at_x', 'updated_at_x', 'modereted_at_x']])
#display(fe_cp)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32094 entries, 0 to 32093
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_x                        32094 non-null  int64
 1   amount                      32094 non-null  float64
 2   status_x                    32094 non-null  object
 3   created_at_x                32094 non-null  datetime64[ns]
 4   updated_at_x                32094 non-null  datetime64[ns]
 5   user_id                     32094 non-null  int64
 6   moderated_at                21530 non-null  datetime64[ns]
 7   deleted_account_id          2573 non-null   float64
 8   reimbursement_date          4061 non-null   datetime64[ns]
 9   cash_request_received_date  24149 non-null  datetime64[ns]
 10  money_back_date             17204 non-null  datetime64[ns]
 11  transfer_type               32094 non-null  object
 12  send_at                     22370 non-null  datetime64[ns]
 13  recovery_status             7200 non-null   object
 14  reco_creation               7200 non-null   datetime64[ns]
 15  reco_last_update            7200 non-null   datetime64[ns]
 16  Mes_created_at              32094 non-null  period[M]
 17  id_y                        21057 non-null  float64
 18  cash_request_id             21057 non-null  float64
 19  type                        21057 non-null  object
 20  status_y                    21057 non-null  object
 21  category                    2196 non-null   object
 22  total_amount                21057 non-null  float64
 23  reason                      21057 non-null  object
 24  created_at_y                21057 non-null  datetime64[ns]
 25  updated_at_y                21057 non-null  datetime64[ns]
 26  paid_at                     15438 non-null  datetime64[ns]
 27  from_date                   6749 non-null   datetime64[ns]
 28  to_date                     6512 non-null   datetime64[ns]
 29  charge_moment               21057 non-null  object
dtypes: datetime64[ns](14), float64(5), int64(2), object(8), period[M](1)
memory usage: 7.3+ MB

In [86]:
df_jo['date_difference'] = (df_jo['to_date'] - df_jo['from_date']).dt.days
#display(df_jo['date_difference'].notna().head(5))
display(df_jo[df_jo['date_difference'].notna()].head(5))

,id_x,amount,status_x,created_at_x,updated_at_x,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,...,category,total_amount,reason,created_at_y,updated_at_y,paid_at,from_date,to_date,charge_moment,date_difference
88,2203,100.0,money_back,2020-05-27 02:26:27.615190,2020-06-09 11:25:51.726360,2109,2020-05-27 10:02:13.094467,NaN,NaT,2020-05-29,...,NaN,5.0,Postpone Cash Request 2203,2020-06-09 11:25:52.449808,2020-10-13 14:25:00.867548,NaT,2020-06-15 02:26:27,2020-07-15 02:26:27,before,30.0
232,2211,100.0,money_back,2020-05-27 10:23:16.961762,2020-06-28 15:40:27.166070,3045,2020-05-27 13:07:30.446702,NaN,NaT,2020-05-29,...,NaN,5.0,Postpone Cash Request 2211,2020-07-22 10:09:59.261298,2020-10-13 14:25:00.883659,NaT,2020-07-31 22:00:00,2020-08-30 22:00:00,before,30.0
233,2211,100.0,money_back,2020-05-27 10:23:16.961762,2020-06-28 15:40:27.166070,3045,2020-05-27 13:07:30.446702,NaN,NaT,2020-05-29,...,NaN,5.0,Postpone Cash Request 2211,2020-06-28 15:40:20.807831,2020-10-13 14:25:01.580886,2020-06-28 15:40:27.730873,2020-07-01 22:00:00,2020-07-31 22:00:00,before,30.0
234,2211,100.0,money_back,2020-05-27 10:23:16.961762,2020-06-28 15:40:27.166070,3045,2020-05-27 13:07:30.446702,NaN,NaT,2020-05-29,...,NaN,5.0,Postpone Cash Request 2211,2020-07-25 05:36:00.550991,2020-10-13 14:25:14.625347,NaT,2020-07-31 22:00:00,2020-08-30 22:00:00,after,30.0
235,2211,100.0,money_back,2020-05-27 10:23:16.961762,2020-06-28 15:40:27.166070,3045,2020-05-27 13:07:30.446702,NaN,NaT,2020-05-29,...,NaN,5.0,Postpone Cash Request 2211,2020-07-28 18:44:28.832461,2020-10-13 14:25:14.750355,NaT,2020-07-31 22:00:00,2020-08-30 22:00:00,after,30.0

In [87]:
#display(fe_cp['from_date'].notna())
#display(fe_cp.loc[fe_cp['from_date'].notna(), 'from_date'])
filtered_fe = fe_cp[fe_cp['from_date'].notna()]
#display(filtered_fe) #.count)

num_files = len(fe_cp[fe_cp['from_date'].notna()])
print(f"Nombre de files no NaT: {num_files}")

display(fe_cp[fe_cp['from_date'].notna()].head(5))
display(fe_cp[fe_cp['from_date'].notna()].tail(5))

Nombre de files no NaT: 6749

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
9,15431,22106,postpone,cancelled,NaN,5.0,Postpone Cash Request 22106,2020-10-21 08:48:50.696961,2020-10-21 08:48:50.696991,NaT,2020-11-04 22:00:00,2020-11-05 11:00:00,before
11,15434,21897,postpone,accepted,NaN,5.0,Postpone Cash Request 21897,2020-10-21 09:00:21.619473,2020-10-21 09:00:21.619504,2020-10-21 09:00:25.398771,2020-10-26 22:00:00,2020-10-30 23:00:00,before
12,20199,25490,postpone,cancelled,NaN,5.0,Postpone Cash Request 25490,2020-10-30 16:51:49.456590,2020-10-30 16:51:49.456616,NaT,2020-11-06 22:00:00,2020-11-12 11:00:00,before
19,19761,24564,postpone,cancelled,NaN,5.0,Postpone Cash Request 24564,2020-10-29 14:00:30.956061,2020-10-29 14:00:30.956085,NaT,2020-10-29 23:00:00,2020-10-30 23:00:00,before
21,20530,19909,postpone,cancelled,NaN,5.0,Postpone Cash Request 19909,2020-10-31 01:49:46.485098,2020-10-31 01:49:46.485121,NaT,2020-11-03 23:51:00,2020-11-05 23:00:00,before

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
20593,411,3891,postpone,accepted,NaN,5.0,Postpone Cash Request 3891,2020-06-22 08:24:47.439636,2021-01-20 14:46:09.980392,NaT,2020-07-03 22:00:00,2020-07-18 22:00:00,before
20597,1022,2717,postpone,accepted,NaN,5.0,Postpone Cash Request 2717,2020-07-04 10:05:48.681530,2021-01-20 16:59:23.745182,NaT,2020-07-07 22:00:00,2020-08-04 22:00:00,before
20605,681,3716,postpone,accepted,NaN,5.0,Postpone Cash Request 3716,2020-06-26 15:13:10.276716,2021-01-21 15:47:52.053382,NaT,2020-07-20 22:00:00,2020-08-04 22:00:00,before
20607,4561,10801,postpone,accepted,NaN,5.0,Postpone Cash Request 10801,2020-08-21 11:28:54.470364,2021-01-21 16:54:46.995586,NaT,2020-09-08 10:00:00,2020-10-07 10:00:00,before
21013,832,4112,postpone,cancelled,NaN,5.0,Postpone Cash Request 4112,2020-06-30 12:23:06.522250,2021-02-08 16:09:22.195973,NaT,2020-07-06 22:00:00,2020-08-06 12:22:58,before