In [44]:
# Importar librerías necesarias
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import payments_manager as pm
#pm.help()
pm.init(debug=True)
pm.info()
cr_cp = pm.df('cr_cp')
fe_cp = pm.df('fe_cp')
#display(cr)
if 'cash_request_id' not in fe_cp.columns:
    fe_cp['cash_request_id'] = 0  # O un altre valor predeterminat
fe_cp['cash_request_id'] = fe_cp['cash_request_id'].fillna(0).astype(int)

# Verifica duplicats a fe_cp
duplicats_fe_cp = fe_cp[fe_cp.duplicated(subset=['id', 'cash_request_id'], keep=False)]
#print(duplicats_fe_cp)


# Verifica duplicats a cr_cp
duplicats_cr_cp = cr_cp[cr_cp.duplicated(subset=['id'], keep=False)]
#print(duplicats_cr_cp)

#display(fe_cp[['id','cash_request_id']])
#df_jo = pd.merge(cr_cp, fe_cp,  on=['id','cash_request_id'], how ="left")
df_jo = pd.merge(cr_cp, fe_cp, left_on='id', right_on='cash_request_id', how ="left")
df_jo.info()
display(df_jo)

#display(fe_cp)

Lista de dataframes: ['cr', 'fe', 'cr_cp', 'fe_cp']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32094 entries, 0 to 32093
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_x                        32094 non-null  int64
 1   amount                      32094 non-null  float64
 2   status_x                    32094 non-null  object
 3   created_at_x                32094 non-null  datetime64[ns]
 4   updated_at_x                32094 non-null  object
 5   user_id                     29522 non-null  float64
 6   moderated_at                21759 non-null  object
 7   deleted_account_id          2573 non-null   float64
 8   reimbursement_date          32094 non-null  object
 9   cash_request_received_date  24149 non-null  object
 10  money_back_date             23917 non-null  object
 11  transfer_type               32094 non-null  object
 12  send_at                     22678 non-null  object
 13  recovery_status             7200 non-null   object
 14  reco_creation               7200 non-null   object
 15  reco_last_update            7200 non-null   object
 16  Mes_created_at              32094 non-null  period[M]
 17  id_y                        21057 non-null  float64
 18  cash_request_id             21057 non-null  float64
 19  type                        21057 non-null  object
 20  status_y                    21057 non-null  object
 21  category                    2196 non-null   object
 22  total_amount                21057 non-null  float64
 23  reason                      21057 non-null  object
 24  created_at_y                21057 non-null  object
 25  updated_at_y                21057 non-null  object
 26  paid_at                     15531 non-null  object
 27  from_date                   7766 non-null   object
 28  to_date                     7766 non-null   object
 29  charge_moment               21057 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(21), period[M](1)
memory usage: 7.3+ MB

,id_x,amount,status_x,created_at_x,updated_at_x,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,...,status_y,category,total_amount,reason,created_at_y,updated_at_y,paid_at,from_date,to_date,charge_moment
0,5,100.0,rejected,2019-12-10 19:05:21.596873,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.347780,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.825460,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32089,22357,100.0,money_back,2020-10-20 07:58:04.006937,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,...,accepted,NaN,5.0,Instant Payment Cash Request 22357,2020-10-20 07:58:19.637461+00,2020-10-20 07:58:19.637491+00,2021-02-05 12:19:30.685779+00,NaN,NaN,after
32090,20256,100.0,money_back,2020-10-10 05:40:55.700422,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,...,accepted,NaN,5.0,Postpone Cash Request 20256,2020-10-30 17:08:16.906449+00,2020-10-30 17:08:21.967966+00,2020-10-30 17:08:21.416796+00,2020-11-06 11:00:00+00,2020-12-07 11:00:00+00,before
32091,20256,100.0,money_back,2020-10-10 05:40:55.700422,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,...,accepted,NaN,5.0,Instant Payment Cash Request 20256,2020-10-10 05:42:11.679401+00,2020-10-13 14:25:03.460352+00,2021-02-05 13:14:19.731397+00,NaN,NaN,after
32092,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,...,accepted,NaN,5.0,Postpone Cash Request 19886,2020-10-10 21:22:00.083739+00,2020-10-13 14:25:18.501716+00,2020-10-10 21:22:04.456828+00,2020-11-06 22:00:00+00,2020-12-06 11:00:00+00,before
32093,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,...,accepted,NaN,5.0,Instant Payment Cash Request 19886,2020-10-08 14:17:09.126909+00,2020-10-13 14:25:16.470702+00,2021-02-11 04:24:07.529815+00,NaN,NaN,after