In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import itertools # Importando itertools para generar combinaciones de columnas
# Importando la función seasonal_decompose para la descomposición de series temporales
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.patches as mpatches
import payments_manager as pm
#pm.help()
#pm.reset()
pm.init() #debug=True)
cr_cp = pm.df('cr_cp')
fe_cp = pm.df('fe_cp')
#cr_cp.info()
#fe_cp.info()

df_jo = pm.df('df_jo')
#df_jo.info()
df_jo = pm.sort("df_jo", ["id_cr"]).reset_index()
df_jo = df_jo.drop(columns=['index'])

#df_jo = df_jo.drop(columns=['Mes_created_at'])
df_jo_cp = df_jo.copy()
df_jo_cp['cr_received_date'] = df_jo_cp.cash_request_received_date
df_jo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32094 entries, 0 to 32093
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_cr                       32094 non-null  int64
 1   amount                      32094 non-null  float64
 2   stat_cr                     32094 non-null  object
 3   created_at                  32094 non-null  datetime64[ns]
 4   user_id                     32094 non-null  int64
 5   active                      32094 non-null  int64
 6   moderated_at                21759 non-null  datetime64[ns]
 7   reimbursement_date          32094 non-null  datetime64[ns]
 8   cash_request_received_date  24149 non-null  datetime64[ns]
 9   money_back_date             23917 non-null  datetime64[ns]
 10  transfer_type               32094 non-null  object
 11  send_at                     22678 non-null  datetime64[ns]
 12  recovery_status             32094 non-null  object
 13  Mes_created_at              32094 non-null  period[M]
 14  to_receive_ini              24149 non-null  timedelta64[ns]
 15  to_receive_bank             17473 non-null  timedelta64[ns]
 16  to_reimbur                  32094 non-null  timedelta64[ns]
 17  to_reimbur_cash             22678 non-null  timedelta64[ns]
 18  to_end                      23917 non-null  timedelta64[ns]
 19  to_send                     22678 non-null  timedelta64[ns]
 20  id_fe                       32094 non-null  int64
 21  type                        21057 non-null  object
 22  stat_fe                     21057 non-null  object
 23  category                    21057 non-null  object
 24  fee                         21057 non-null  float64
 25  reason                      21057 non-null  object
 26  created_at_fe               21057 non-null  datetime64[ns]
 27  paid_at                     15531 non-null  datetime64[ns]
 28  from_date                   7766 non-null   datetime64[ns]
 29  to_date                     7766 non-null   datetime64[ns]
 30  charge_moment               21057 non-null  object
 31  cr_received_date            24149 non-null  datetime64[ns]
 32  to_reimbur_cash_de          22678 non-null  float64
dtypes: datetime64[ns](11), float64(3), int64(4), object(8), period[M](1), timedelta64[ns](6)
memory usage: 8.1+ MB

In [6]:
df = pm.df('df_jo')
#df.info()

cr_id = ['id_cr','id_fe','user_id', 'created_at','created_at_fe','amount','fee','stat_cr','stat_fe','transfer_type','type',
            'to_receive_ini', 'to_receive_bank','to_reimbur','to_reimbur_cash','to_end','to_send',
             'send_at', 'cr_received_date', 'money_back_date', 'reimbursement_date',
            'paid_at','charge_moment','moderated_at','reason','category','from_date','to_date', 'recovery_status'] # ,'id_y','from_date','to_date','reason','recovery_status', 'cash_request_id'

print("Casos segun Cash Request ID")
pd.options.display.max_columns = None
for id in ([-18264]): # 16391 20108, 20104, 20112,
    df_t = df[df['id_cr'] == id].reset_index()
    print(f"Cash Request ID: {id}")
    display(df_t[cr_id].sort_values('created_at'))

user_ids = [54879, 9900458, 2002, 1987, 1946, 90, 526, 12934] #, 12274 54879 12441, 13851, 16391, 430,  63894,18730,10116,21465, 99000262]
# vips 12934 526
# 90 Este se esta gestionando mal: todos instant, con demoras y sin gestion por 
# 1946 Parece un ejemplo de buena gestion, al final tiene un instant y se le ha dado margen el las demoras.
# 1987 Parece un ejemplo de buen usuario, se pasa a instant para siempre.

pd.options.display.max_columns = None
print("Casos segun Cash User ID")
for id in (user_ids):
    #df_t = df[df['user_id'] == id].reset_index()
    df_t = df[(df['user_id'] == id) & (df['stat_cr'] == 'money_back')].reset_index()
    print(f"User ID: {id}")
    display(df_t[cr_id].sort_values('created_at').reset_index())

Casos segun Cash Request ID
Cash Request ID: -18264

Empty DataFrame
Columns: [id_cr, id_fe, user_id, created_at, created_at_fe, amount, fee, stat_cr, stat_fe, transfer_type, type, to_receive_ini, to_receive_bank, to_reimbur, to_reimbur_cash, to_end, to_send, send_at, cr_received_date, money_back_date, reimbursement_date, paid_at, charge_moment, moderated_at, reason, category, from_date, to_date, recovery_status]
Index: []

Casos segun Cash User ID
User ID: 54879

Empty DataFrame
Columns: [index, id_cr, id_fe, user_id, created_at, created_at_fe, amount, fee, stat_cr, stat_fe, transfer_type, type, to_receive_ini, to_receive_bank, to_reimbur, to_reimbur_cash, to_end, to_send, send_at, cr_received_date, money_back_date, reimbursement_date, paid_at, charge_moment, moderated_at, reason, category, from_date, to_date, recovery_status]
Index: []

User ID: 9900458

Empty DataFrame
Columns: [index, id_cr, id_fe, user_id, created_at, created_at_fe, amount, fee, stat_cr, stat_fe, transfer_type, type, to_receive_ini, to_receive_bank, to_reimbur, to_reimbur_cash, to_end, to_send, send_at, cr_received_date, money_back_date, reimbursement_date, paid_at, charge_moment, moderated_at, reason, category, from_date, to_date, recovery_status]
Index: []

User ID: 2002

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,1,423,0,2002,2020-01-10 10:55:20.757139,NaT,100.0,NaN,money_back,NaN,regular,NaN,3 days 13:04:39.242861,NaT,27 days 12:04:39.242861,NaT,NaT,NaT,NaT,2020-01-14,NaT,2020-02-06 23:00:00,NaT,NaN,2020-01-10 14:07:53.226098,NaN,NaN,NaT,NaT,nice
1,4,697,0,2002,2020-02-18 16:36:51.249037,NaT,100.0,NaN,money_back,NaN,regular,NaN,0 days 07:23:08.750963,NaT,9 days 06:23:08.750963,NaT,NaT,NaT,NaT,2020-02-19,NaT,2020-02-27 23:00:00,NaT,NaN,2020-02-19 10:52:06.054881,NaN,NaN,NaT,NaT,nice
2,3,835,0,2002,2020-03-10 07:47:39.337041,NaT,100.0,NaN,money_back,NaN,regular,NaN,0 days 16:12:20.662959,NaT,26 days 14:12:20.662959,NaT,-9 days +01:34:00.867673,NaT,NaT,2020-03-11,2020-04-14 20:25:59.132327,2020-04-05 22:00:00,NaT,NaN,2020-03-10 09:29:45.938994,NaN,NaN,NaT,NaT,nice
3,2,1172,0,2002,2020-04-14 21:03:09.519326,NaT,100.0,NaN,money_back,NaN,regular,NaN,0 days 02:56:50.480674,NaT,21 days 00:56:50.480674,NaT,-9 days +00:54:50.511293,NaT,NaT,2020-04-15,2020-05-14 21:05:09.488707,2020-05-05 22:00:00,NaT,NaN,2020-04-15 09:33:29.732785,NaN,NaN,NaT,NaT,nice
4,0,1800,0,2002,2020-05-15 04:09:51.091889,NaT,100.0,NaN,money_back,NaN,regular,NaN,-1 days +19:50:08.908111,NaT,22 days 17:50:08.908111,NaT,-5 days +23:42:06.868088,NaT,NaT,2020-05-15,2020-06-10 22:17:53.131912,2020-06-06 22:00:00,NaT,NaN,2020-05-15 09:08:21.143739,NaN,NaN,NaT,NaT,nice
5,5,2949,0,2002,2020-06-10 23:34:13.556501,NaT,100.0,NaN,money_back,NaN,regular,NaN,2 days 00:25:46.443499,NaT,25 days 22:25:46.443499,NaT,-1 days +00:00:00,NaT,NaT,2020-06-13,2020-07-07 22:00:00.000000,2020-07-06 22:00:00,NaT,NaN,2020-06-11 10:26:29.126647,NaN,NaN,NaT,NaT,nice
6,6,8177,1749,2002,2020-07-15 13:17:11.174285,2020-07-22 01:33:56.400884,100.0,5.0,money_back,accepted,regular,postpone,2 days 10:42:48.825715,NaT,20 days 12:16:36.825715,NaT,1 days 16:32:06.636452,NaT,NaT,2020-07-18,2020-08-03 09:01:41.363548,2020-08-05 01:33:48,2020-07-22 01:34:02.980599,before,2020-07-17 08:40:18.000000,Postpone Cash Request 8177,nice,2020-08-04 22:00:00.000,2020-08-15 01:33:48.128,nice
7,7,8177,1839,2002,2020-07-15 13:17:11.174285,2020-07-23 11:31:44.836318,100.0,5.0,money_back,accepted,regular,postpone,2 days 10:42:48.825715,NaT,20 days 12:16:36.825715,NaT,1 days 16:32:06.636452,NaT,NaT,2020-07-18,2020-08-03 09:01:41.363548,2020-08-05 01:33:48,2020-07-23 11:31:49.172044,before,2020-07-17 08:40:18.000000,Postpone Cash Request 8177,nice,2020-08-15 01:33:48.128,2020-08-30 01:33:48.128,nice
8,8,8177,1977,2002,2020-07-15 13:17:11.174285,2020-07-25 19:20:00.560197,100.0,5.0,money_back,accepted,regular,postpone,2 days 10:42:48.825715,NaT,20 days 12:16:36.825715,NaT,1 days 16:32:06.636452,NaT,NaT,2020-07-18,2020-08-03 09:01:41.363548,2020-08-05 01:33:48,2020-07-25 19:20:05.594089,before,2020-07-17 08:40:18.000000,Postpone Cash Request 8177,nice,2020-08-30 01:33:48.128,2020-09-14 01:33:48.128,nice
9,9,8177,1674,2002,2020-07-15 13:17:11.174285,2020-07-20 20:43:33.629841,100.0,5.0,money_back,cancelled,regular,postpone,2 days 10:42:48.825715,NaT,20 days 12:16:36.825715,NaT,1 days 16:32:06.636452,NaT,NaT,2020-07-18,2020-08-03 09:01:41.363548,2020-08-05 01:33:48,NaT,after,2020-07-17 08:40:18.000000,Postpone Cash Request 8177,nice,2020-08-04 22:00:00.000,2020-08-19 22:00:00.000,nice
10,11,12818,0,2002,2020-08-17 16:25:01.087675,NaT,100.0,NaN,money_back,NaN,regular,NaN,8 days 07:34:58.912325,1 days 07:34:58.954893,21 days 05:34:58.912325,14 days 05:34:58.954893,-6 days +00:00:00,6 days 23:59:59.957432,2020-08-24 16:25:01.045107,2020-08-26,2020-09-13 22:00:00.000000,2020-09-07 22:00:00,NaT,NaN,2020-08-18 07:55:44.066260,NaN,NaN,NaT,NaT,nice
11,10,16332,0,2002,2020-09-16 04:16:00.198279,NaT,100.0,NaN,money_back,NaN,regular,NaN,7 days 19:43:59.801721,0 days 19:43:59.849872,19 days 17:43:59.801721,12 days 17:43:59.849872,-6 days +00:00:00,6 days 23:59:59.951849,2020-09-23 04:16:00.150128,2020-09-24,2020-10-11 22:00:00.000000,2020-10-05 22:00:00,NaT,NaN,2020-09-16 08:27:18.567012,NaN,NaN,NaT,NaT,nice
12,12,24248,17289,2002,2020-10-25 07:41:00.266568,2020-10-25 07:41:49.198215,100.0,5.0,money_back,accepted,instant,instant_payment,1 days 16:18:59.733432,1 days 16:18:21.679353,15 days 14:18:59.733432,15 days 14:18:21.679353,0 days 02:48:11.574288,0 days 00:00:38.054079,2020-10-25 07:41:38.320647,2020-10-27,2020-11-09 19:11:48.425712,2020-11-09 22:00:00,2020-11-09 19:11:48.456827,after,NaT,Instant Payment Cash Request 24248,nice,NaT,NaT,nice

User ID: 1987

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,2,312,0,1987,2019-12-26 15:33:32.649784,NaT,100.0,NaN,money_back,NaN,regular,NaN,4 days 08:26:27.350216,NaT,13 days 07:26:27.350216,NaT,NaT,NaT,NaT,2019-12-31,NaT,2020-01-08 23:00:00.000,NaT,NaN,2019-12-27 14:00:46.264828,NaN,NaN,NaT,NaT,nice
1,5,463,0,1987,2020-01-16 20:51:38.710795,NaT,100.0,NaN,money_back,NaN,regular,NaN,1 days 03:08:21.289205,NaT,20 days 02:08:21.289205,NaT,NaT,NaT,NaT,2020-01-18,NaT,2020-02-05 23:00:00.000,NaT,NaN,2020-01-17 08:57:34.200059,NaN,NaN,NaT,NaT,nice
2,3,694,0,1987,2020-02-17 22:02:05.200333,NaT,100.0,NaN,money_back,NaN,regular,NaN,2 days 01:57:54.799667,NaT,21 days 00:57:54.799667,NaT,-9 days +01:49:02.700176,NaT,NaT,2020-02-20,2020-03-18 21:10:57.299824,2020-03-09 23:00:00.000,NaT,NaN,2020-02-18 15:19:25.744451,NaN,NaN,NaT,NaT,nice
3,1,943,0,1987,2020-03-18 21:48:48.167654,NaT,100.0,NaN,money_back,NaN,regular,NaN,1 days 02:11:11.832346,NaT,13 days 00:11:11.832346,NaT,-9 days +00:42:07.534713,NaT,NaT,2020-03-20,2020-04-09 21:17:52.465287,2020-03-31 22:00:00.000,NaT,NaN,2020-03-19 10:32:52.099223,NaN,NaN,NaT,NaT,nice
4,4,1128,0,1987,2020-04-10 11:21:22.259156,NaT,100.0,NaN,money_back,NaN,regular,NaN,4 days 12:38:37.740844,NaT,24 days 10:38:37.740844,NaT,-9 days +01:18:05.016104,NaT,NaT,2020-04-15,2020-05-13 20:41:54.983896,2020-05-04 22:00:00.000,NaT,NaN,2020-04-10 12:36:59.015148,NaN,NaN,NaT,NaT,nice
5,0,1747,0,1987,2020-05-13 22:11:50.893258,NaT,100.0,NaN,money_back,NaN,regular,NaN,0 days 01:48:09.106742,NaT,18 days 23:48:09.106742,NaT,-10 days +22:28:03.654097,NaT,NaT,2020-05-14,2020-06-10 23:31:56.345903,2020-06-01 22:00:00.000,NaT,NaN,2020-05-14 08:38:55.036313,NaN,NaN,NaT,NaT,nice
6,6,2953,239,1987,2020-06-11 02:40:32.868593,2020-06-15 19:54:49.758278,100.0,5.0,money_back,accepted,regular,postpone,1 days 21:19:27.131407,NaT,50 days 17:14:11.794407,NaT,-3 days +21:54:44.663000,NaT,NaT,2020-06-13,2020-08-02 22:00:00.000000,2020-07-31 19:54:44.663,NaT,before,2020-06-11 10:29:32.914724,Postpone Cash Request 2953,nice,2020-07-17 22:00:00,2020-07-31 19:54:44.663,nice
7,7,2953,223,1987,2020-06-11 02:40:32.868593,2020-06-13 07:01:36.497750,100.0,5.0,money_back,accepted,regular,postpone,1 days 21:19:27.131407,NaT,50 days 17:14:11.794407,NaT,-3 days +21:54:44.663000,NaT,NaT,2020-06-13,2020-08-02 22:00:00.000000,2020-07-31 19:54:44.663,NaT,before,2020-06-11 10:29:32.914724,Postpone Cash Request 2953,nice,2020-07-02 22:00:00,2020-07-17 22:00:00.000,nice
8,8,10962,4416,1987,2020-08-05 12:18:00.894553,2020-08-19 22:49:13.475504,100.0,5.0,money_back,accepted,instant,postpone,1 days 11:41:59.105447,-6 days +11:41:59.105818,56 days 21:41:59.105447,49 days 21:41:59.105818,-2 days +22:33:30.657089,6 days 23:59:59.999629,2020-08-12 12:18:00.894182,2020-08-07,2020-10-02 11:26:29.342911,2020-10-01 10:00:00.000,2020-08-19 22:49:17.968925,before,2020-08-05 14:36:21.515389,Postpone Cash Request 10962,nice,2020-08-29 22:00:00,2020-09-09 10:00:00.000,nice
9,9,10962,6536,1987,2020-08-05 12:18:00.894553,2020-09-07 10:40:35.867503,100.0,5.0,money_back,accepted,instant,postpone,1 days 11:41:59.105447,-6 days +11:41:59.105818,56 days 21:41:59.105447,49 days 21:41:59.105818,-2 days +22:33:30.657089,6 days 23:59:59.999629,2020-08-12 12:18:00.894182,2020-08-07,2020-10-02 11:26:29.342911,2020-10-01 10:00:00.000,2020-09-07 10:40:41.083218,before,2020-08-05 14:36:21.515389,Postpone Cash Request 10962,nice,2020-09-09 10:00:00,2020-10-01 10:00:00.000,nice
10,10,10962,2830,1987,2020-08-05 12:18:00.894553,2020-08-05 14:36:23.085279,100.0,5.0,money_back,accepted,instant,instant_payment,1 days 11:41:59.105447,-6 days +11:41:59.105818,56 days 21:41:59.105447,49 days 21:41:59.105818,-2 days +22:33:30.657089,6 days 23:59:59.999629,2020-08-12 12:18:00.894182,2020-08-07,2020-10-02 11:26:29.342911,2020-10-01 10:00:00.000,2020-08-11 22:29:51.000000,after,2020-08-05 14:36:21.515389,Instant Payment Cash Request 10962,nice,NaT,NaT,nice
11,11,18983,10707,1987,2020-10-03 06:14:52.122144,2020-10-03 12:14:54.232078,100.0,5.0,money_back,accepted,instant,instant_payment,2 days 17:45:07.877856,-5 days +17:45:07.920609,27 days 15:45:07.877856,20 days 15:45:07.920609,0 days 02:27:54.062507,6 days 23:59:59.957247,2020-10-10 06:14:52.079391,2020-10-06,2020-10-30 19:32:05.937493,2020-10-30 22:00:00.000,2020-10-30 19:32:05.969464,after,2020-10-03 12:14:52.598236,Instant Payment Cash Request 18983,nice,NaT,NaT,nice
12,12,18983,15356,1987,2020-10-03 06:14:52.122144,2020-10-20 23:41:25.314012,100.0,5.0,money_back,cancelled,instant,postpone,2 days 17:45:07.877856,-5 days +17:45:07.920609,27 days 15:45:07.877856,20 days 15:45:07.920609,0 days 02:27:54.062507,6 days 23:59:59.957247,2020-10-10 06:14:52.079391,2020-10-06,2020-10-30 19:32:05.937493,2020-10-30 22:00:00.000,NaT,before,2020-10-03 12:14:52.598236,Postpone Cash Request 18983,nice,2020-10-30 22:00:00,2020-10-31 11:00:00.000,nice
13,13,26504,20444,1987,2020-10-30 19:40:05.024674,2020-10-30 19:40:18.242409,100.0,5.0,money_back,accepted,instant,instant_payment,3 days 04:19:54.975326,3 days 04:19:45.296555,31 days 02:19:54.975326,31 days 02:19:45.296555,0 days 09:13:48.143889,0 days 00:00:09.678771,2020-10-30 19:40:14.703445,2020-11-03,2020-11-30 12:46:11.856111,2020-11-30 22:00:00.000,2020-11-30 12:46:11.915306,after,NaT,Instant Payment Cash Request 26504,nice,NaT,NaT,nice

User ID: 1946

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,1,292,0,1946,2019-12-23 07:29:44.817276,NaT,100.0,NaN,money_back,NaN,regular,NaN,0 days 16:30:15.182724,NaT,34 days 15:30:15.182724,NaT,NaT,NaT,NaT,2019-12-24,NaT,2020-01-26 23:00:00.000000,NaT,NaN,2019-12-23 08:57:37.000000,NaN,NaN,NaT,NaT,nice
1,5,608,0,1946,2020-02-05 03:29:47.482704,NaT,100.0,NaN,money_back,NaN,regular,NaN,1 days 20:30:12.517296,NaT,5 days 19:30:12.517296,NaT,NaT,NaT,NaT,2020-02-07,NaT,2020-02-10 23:00:00.000000,NaT,NaN,2020-02-05 16:08:13.304063,NaN,NaN,NaT,NaT,nice
2,2,704,0,1946,2020-02-20 03:56:28.980938,NaT,100.0,NaN,money_back,NaN,regular,NaN,0 days 20:03:31.019062,NaT,18 days 19:03:31.019062,NaT,-9 days +01:49:22.624860,NaT,NaT,2020-02-21,2020-03-18 21:10:37.375140,2020-03-09 23:00:00.000000,NaT,NaN,2020-02-20 06:57:23.376952,NaN,NaN,NaT,NaT,nice
3,0,947,0,1946,2020-03-19 03:17:07.937606,NaT,100.0,NaN,money_back,NaN,regular,NaN,0 days 20:42:52.062394,NaT,6 days 23:59:59.999473,NaT,-9 days +04:45:00.173453,NaT,NaT,2020-03-20,2020-04-03 22:32:07.763626,2020-03-26 03:17:07.937079,NaT,NaN,2020-03-19 10:31:59.548975,NaN,NaN,NaT,NaT,nice
4,3,1043,0,1946,2020-04-04 20:19:08.386119,NaT,100.0,NaN,money_back,NaN,regular,NaN,2 days 03:40:51.613881,NaT,24 days 01:40:51.613881,NaT,-9 days +00:48:58.109233,NaT,NaT,2020-04-07,2020-05-07 21:11:01.890767,2020-04-28 22:00:00.000000,NaT,NaN,2020-04-05 23:22:17.891157,NaN,NaN,NaT,NaT,nice
5,4,1661,0,1946,2020-05-10 02:17:02.360056,NaT,100.0,NaN,money_back,NaN,regular,NaN,1 days 21:42:57.639944,NaT,18 days 19:42:57.639944,NaT,-9 days +00:23:56.492262,NaT,NaT,2020-05-12,2020-06-06 21:36:03.507738,2020-05-28 22:00:00.000000,NaT,NaN,2020-05-10 13:38:15.475488,NaN,NaN,NaT,NaT,nice
6,6,2673,0,1946,2020-06-07 06:54:09.300618,NaT,100.0,NaN,money_back,NaN,regular,NaN,1 days 17:05:50.699382,NaT,22 days 15:05:50.699382,NaT,-3 days +03:25:06.962147,NaT,NaT,2020-06-09,2020-07-02 18:34:53.037853,2020-06-29 22:00:00.000000,NaT,NaN,2020-06-07 08:02:52.746668,NaN,NaN,NaT,NaT,nice
7,7,7906,0,1946,2020-07-14 06:30:30.137850,NaT,100.0,NaN,money_back,NaN,regular,NaN,1 days 17:29:29.862150,NaT,13 days 15:29:29.862150,NaT,-2 days +00:00:00,NaT,NaT,2020-07-16,2020-07-29 22:00:00.000000,2020-07-27 22:00:00.000000,NaT,NaN,2020-07-14 12:23:30.483862,NaN,NaN,NaT,NaT,nice
8,8,10747,0,1946,2020-08-04 03:20:12.659074,NaT,100.0,NaN,money_back,NaN,regular,NaN,6 days 20:39:47.340926,-1 days +20:39:47.341477,22 days 18:39:47.340926,15 days 18:39:47.341477,0 days 00:00:00,6 days 23:59:59.999449,2020-08-11 03:20:12.658523,2020-08-11,2020-08-26 22:00:00.000000,2020-08-26 22:00:00.000000,NaT,NaN,2020-08-04 10:25:31.570933,NaN,NaN,NaT,NaT,nice
9,9,14117,0,1946,2020-08-31 03:49:34.443187,NaT,100.0,NaN,money_back,NaN,regular,NaN,6 days 20:10:25.556813,-1 days +20:10:25.609160,29 days 18:10:25.556813,22 days 18:10:25.609160,-6 days +00:00:00,6 days 23:59:59.947653,2020-09-07 03:49:34.390840,2020-09-07,2020-10-05 22:00:00.000000,2020-09-29 22:00:00.000000,NaT,NaN,2020-08-31 07:44:12.229315,NaN,NaN,NaT,NaT,nice
10,10,20269,12382,1946,2020-10-10 07:16:15.187175,2020-10-10 07:17:22.141796,100.0,5.0,money_back,accepted,instant,instant_payment,-1 days +16:43:44.812825,-1 days +16:42:50.472098,23 days 14:43:44.812825,23 days 14:42:50.472098,-2 days +23:00:00,0 days 00:00:54.340727,2020-10-10 07:17:09.527902,2020-10-10,2020-11-03 23:00:00.000000,2020-11-02 22:00:00.000000,2020-11-05 14:18:43.452634,after,NaT,Instant Payment Cash Request 20269,nice,NaT,NaT,nice

User ID: 90

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,3,314,0,90,2019-12-26 19:20:47.806186,NaT,100.0,NaN,money_back,NaN,regular,NaN,4 days 04:39:12.193814,NaT,13 days 03:39:12.193814,NaT,NaT,NaT,NaT,2019-12-31,NaT,2020-01-08 23:00:00.000000,NaT,NaN,2019-12-27 14:06:27.008412,NaN,NaN,NaT,NaT,nice
1,4,667,0,90,2020-02-11 19:04:59.715551,NaT,100.0,NaN,money_back,NaN,regular,NaN,0 days 04:55:00.284449,NaT,19 days 03:55:00.284449,NaT,-9 days +01:29:24.798386,NaT,NaT,2020-02-12,2020-03-10 21:30:35.201614,2020-03-01 23:00:00.000000,NaT,NaN,2020-02-12 11:17:31.780167,NaN,NaN,NaT,NaT,nice
2,1,893,0,90,2020-03-16 14:56:43.473601,NaT,100.0,NaN,money_back,NaN,regular,NaN,1 days 09:03:16.526399,NaT,21 days 07:03:16.526399,NaT,-9 days +01:08:59.185284,NaT,NaT,2020-03-18,2020-04-15 20:51:00.814716,2020-04-06 22:00:00.000000,NaT,NaN,2020-03-16 15:11:42.665961,NaN,NaN,NaT,NaT,nice
3,0,2155,0,90,2020-05-25 12:48:13.019894,NaT,100.0,NaN,money_back,NaN,regular,NaN,2 days 11:11:46.980106,NaT,11 days 09:11:46.980106,NaT,-7 days +23:22:01.202196,NaT,NaT,2020-05-28,2020-06-11 22:37:58.797804,2020-06-05 22:00:00.000000,NaT,NaN,2020-05-25 13:20:08.786743,NaN,NaN,NaT,NaT,nice
4,2,3343,0,90,2020-06-15 10:39:34.100529,NaT,100.0,NaN,money_back,NaN,regular,NaN,2 days 13:20:25.899471,NaT,9 days 23:59:59.991291,NaT,-2 days +07:14:00.005528,NaT,NaT,2020-06-18,2020-06-27 03:25:34.086292,2020-06-25 10:39:34.091820,NaT,NaN,2020-06-15 11:52:28.283050,NaN,NaN,NaT,NaT,nice
5,5,5608,0,90,2020-06-27 14:08:39.137822,NaT,100.0,NaN,money_back,NaN,regular,NaN,2 days 09:51:20.862178,NaT,11 days 09:42:20.862178,NaT,-1 days +01:51:00,NaT,NaT,2020-06-30,2020-07-09 22:00:00.000000,2020-07-08 23:51:00.000000,NaT,NaN,2020-06-27 17:43:48.707336,NaN,NaN,NaT,NaT,nice
6,8,9206,0,90,2020-07-21 08:16:11.513030,NaT,100.0,NaN,money_back,NaN,regular,NaN,1 days 15:43:48.486970,-6 days +15:43:48.487391,9 days 13:43:48.486970,2 days 13:43:48.487391,0 days 00:00:00,6 days 23:59:59.999579,2020-07-28 08:16:11.512609,2020-07-23,2020-07-30 22:00:00.000000,2020-07-30 22:00:00.000000,NaT,NaN,2020-07-21 13:49:36.592679,NaN,NaN,NaT,NaT,nice
7,6,11384,0,90,2020-08-07 14:50:30.098500,NaT,100.0,NaN,money_back,NaN,regular,NaN,10 days 09:09:29.901500,3 days 09:09:29.902154,21 days 07:09:29.901500,14 days 07:09:29.902154,-2 days +00:00:00,6 days 23:59:59.999346,2020-08-14 14:50:30.097846,2020-08-18,2020-08-30 22:00:00.000000,2020-08-28 22:00:00.000000,NaT,NaN,2020-08-07 15:58:06.719912,NaN,NaN,NaT,NaT,nice
8,7,14367,0,90,2020-09-03 12:54:09.185674,NaT,100.0,NaN,money_back,NaN,regular,NaN,8 days 11:05:50.814326,1 days 11:05:50.883830,28 days 09:05:50.814326,21 days 09:05:50.883830,-1 days +10:33:46.582802,6 days 23:59:59.930496,2020-09-10 12:54:09.116170,2020-09-12,2020-10-02 11:26:13.417198,2020-10-01 22:00:00.000000,NaT,NaN,NaT,NaN,NaN,NaT,NaT,nice
9,9,19294,0,90,2020-10-05 15:34:36.390378,NaT,100.0,NaN,money_back,NaN,regular,NaN,8 days 08:25:23.609622,1 days 08:25:23.654154,28 days 06:25:23.609622,21 days 06:25:23.654154,0 days 02:22:19.535709,6 days 23:59:59.955468,2020-10-12 15:34:36.345846,2020-10-14,2020-11-02 19:37:40.464291,2020-11-02 22:00:00.000000,NaT,NaN,2020-10-05 15:56:11.690041,NaN,NaN,NaT,NaT,nice

User ID: 526

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,3,131,0,526,2019-12-12 20:59:48.763947,NaT,90.0,NaN,money_back,NaN,regular,NaN,3 days 03:00:11.236053,NaT,14 days 02:00:11.236053,NaT,NaT,NaT,NaT,2019-12-16,NaT,2019-12-26 23:00:00,NaT,NaN,2019-12-13 16:32:34.692499,NaN,NaN,NaT,NaT,nice
1,0,614,0,526,2020-02-05 17:54:50.727851,NaT,50.0,NaN,money_back,NaN,regular,NaN,2 days 06:05:09.272149,NaT,22 days 05:05:09.272149,NaT,NaT,NaT,NaT,2020-02-08,NaT,2020-02-27 23:00:00,NaT,NaN,2020-02-06 12:48:34.924114,NaN,NaN,NaT,NaT,nice
2,2,824,0,526,2020-03-08 14:01:05.146330,NaT,60.0,NaN,money_back,NaN,regular,NaN,1 days 09:58:54.853670,NaT,7 days 08:58:54.853670,NaT,-10 days +23:19:15.010974,NaT,NaT,2020-03-10,2020-03-24 23:40:44.989026,2020-03-15 23:00:00,NaT,NaN,2020-03-08 14:57:10.702615,NaN,NaN,NaT,NaT,nice
3,5,985,0,526,2020-03-25 02:27:41.780578,NaT,90.0,NaN,money_back,NaN,regular,NaN,1 days 21:32:18.219422,NaT,19 days 19:32:18.219422,NaT,-9 days +01:09:05.843302,NaT,NaT,2020-03-27,2020-04-22 20:50:54.156698,2020-04-13 22:00:00,NaT,NaN,2020-03-25 11:00:18.003849,NaN,NaN,NaT,NaT,nice
4,4,1348,0,526,2020-04-23 18:54:05.810157,NaT,80.0,NaN,money_back,NaN,regular,NaN,3 days 05:05:54.189843,NaT,17 days 03:05:54.189843,NaT,-12 days +08:11:47.735425,NaT,NaT,2020-04-27,2020-05-22 13:48:12.264575,2020-05-10 22:00:00,NaT,NaN,2020-04-24 08:41:52.485739,NaN,NaN,NaT,NaT,completed
5,6,3478,0,526,2020-06-16 12:38:38.140763,NaT,80.0,NaN,money_back,NaN,regular,NaN,1 days 11:21:21.859237,NaT,12 days 09:21:21.859237,NaT,-2 days +13:13:24.063854,NaT,NaT,2020-06-18,2020-06-30 08:46:35.936146,2020-06-28 22:00:00,NaT,NaN,2020-06-16 13:26:21.815821,NaN,NaN,NaT,NaT,nice
6,7,7250,1904,526,2020-07-08 22:46:36.854214,2020-07-24 17:07:26.992132,90.0,5.0,money_back,cancelled,regular,postpone,1 days 01:13:23.145786,NaT,20 days 23:13:23.145786,NaT,-13 days +00:00:00,NaT,NaT,2020-07-10,2020-08-11 22:00:00.000000,2020-07-29 22:00:00,NaT,before,2020-07-09 08:56:37.509660,Postpone Cash Request 7250,nice,2020-07-29 22:00:00,2020-08-10 22:00:00,nice
7,8,7250,2102,526,2020-07-08 22:46:36.854214,2020-07-27 12:52:44.616105,90.0,5.0,money_back,cancelled,regular,postpone,1 days 01:13:23.145786,NaT,20 days 23:13:23.145786,NaT,-13 days +00:00:00,NaT,NaT,2020-07-10,2020-08-11 22:00:00.000000,2020-07-29 22:00:00,NaT,before,2020-07-09 08:56:37.509660,Postpone Cash Request 7250,nice,2020-07-29 22:00:00,2020-08-09 22:00:00,nice
8,9,12484,4815,526,2020-08-14 12:28:42.222162,2020-08-22 15:08:31.470344,90.0,5.0,money_back,cancelled,instant,postpone,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,NaT,before,2020-08-14 13:05:51.517542,Postpone Cash Request 12484,nice,2020-08-28 22:00:00,2020-09-10 22:00:00,nice
9,10,12484,5132,526,2020-08-14 12:28:42.222162,2020-08-25 16:19:27.021491,90.0,5.0,money_back,cancelled,instant,postpone,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,NaT,before,2020-08-14 13:05:51.517542,Postpone Cash Request 12484,nice,2020-08-28 22:00:00,2020-09-10 22:00:00,nice
10,11,12484,5475,526,2020-08-14 12:28:42.222162,2020-08-30 12:59:17.811187,90.0,5.0,money_back,cancelled,instant,postpone,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,NaT,before,2020-08-14 13:05:51.517542,Postpone Cash Request 12484,nice,2020-08-28 22:00:00,2020-09-10 22:00:00,nice
11,12,12484,4186,526,2020-08-14 12:28:42.222162,2020-08-18 07:22:33.867416,90.0,5.0,money_back,cancelled,instant,postpone,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,NaT,before,2020-08-14 13:05:51.517542,Postpone Cash Request 12484,nice,2020-08-28 22:00:00,2020-09-10 22:00:00,nice
12,13,12484,5622,526,2020-08-14 12:28:42.222162,2020-09-01 12:20:15.728250,90.0,5.0,money_back,accepted,instant,instant_payment,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,2020-09-10 10:28:49.144402,after,2020-08-14 13:05:51.517542,Instant Payment Cash Request 12484,nice,NaT,NaT,nice
13,14,12484,4313,526,2020-08-14 12:28:42.222162,2020-08-19 10:32:05.286328,90.0,5.0,money_back,cancelled,instant,postpone,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,NaT,before,2020-08-14 13:05:51.517542,Postpone Cash Request 12484,nice,2020-08-28 22:00:00,2020-09-10 22:00:00,nice
14,1,16070,7644,526,2020-09-14 13:13:07.251900,2020-09-14 16:59:02.063951,100.0,5.0,money_back,accepted,instant,instant_payment,0 days 10:46:52.748100,-7 days +10:46:52.800914,29 days 08:46:52.748100,22 days 08:46:52.800914,7 days 07:09:30.392404,6 days 23:59:59.947186,2020-09-21 13:13:07.199086,2020-09-15,2020-10-06 14:50:29.607596,2020-10-13 22:00:00,2020-10-06 14:50:29.637469,after,2020-09-14 16:58:51.617615,Instant Payment Cash Request 16070,nice,NaT,NaT,nice
15,16,20665,13022,526,2020-10-12 17:22:01.397186,2020-10-13 07:45:03.154446,90.0,5.0,money_back,accepted,instant,instant_payment,1 days 06:37:58.602814,1 days 06:37:48.336229,29 days 05:37:58.602814,29 days 05:37:48.336229,12 days 23:33:06.019112,0 days 00:00:10.266585,2020-10-12 17:22:11.663771,2020-10-14,2020-10-28 23:26:53.980888,2020-11-10 23:00:00,2020-10-28 23:26:54.021906,after,2020-10-13 07:45:01.307840,Instant Payment Cash Request 20665,nice,NaT,NaT,nice
16,15,20665,18066,526,2020-10-12 17:22:01.397186,2020-10-26 18:40:10.764100,90.0,5.0,money_back,accepted,instant,postpone,1 days 06:37:58.602814,1 days 06:37:48.336229,29 days 05:37:58.602814,29 days 05:37:48.336229,12 days 23:33:06.019112,0 days 00:00:10.266585,2020-10-12 17:22:11.663771,2020-10-14,2020-10-28 23:26:53.980888,2020-11-10 23:00:00,2020-10-26 18:40:15.358285,before,2020-10-13 07:45:01.307840,Postpone Cash Request 20665,nice,2020-10-29 22:00:00,2020-11-10 23:00:00,nice
17,17,26720,20755,526,2020-10-31 12:46:40.831215,2020-10-31 14:59:15.093577,100.0,5.0,money_back,accepted,instant,instant_payment,0 days 11:13:19.168785,0 days 11:13:09.626319,27 days 11:04:19.168785,27 days 11:04:09.626319,-1 days +04:09:55.647114,0 days 00:00:09.542466,2020-10-31 12:46:50.373681,2020-11-01,2020-11-28 19:41:04.352886,2020-11-27 23:51:00,2020-11-28 19:41:04.411337,after,2020-10-31 14:59:13.307943,Instant Payment Cash Request 26720,nice,NaT,NaT,nice

User ID: 12934

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,0,10094,2500,12934,2020-07-30 10:29:06.883916,2020-08-01 09:43:39.183502,50.0,5.0,money_back,accepted,instant,postpone,1 days 13:30:53.116084,-6 days +13:30:53.116778,16 days 11:30:53.116084,9 days 11:30:53.116778,-1 days +00:00:00,6 days 23:59:59.999306,2020-08-06 10:29:06.883222,2020-08-01,2020-08-16 22:00:00.000000,2020-08-15 22:00:00.000000,2020-08-01 09:43:43.408259,before,2020-07-30 10:45:55.890861,Postpone Cash Request 10094,nice,2020-08-13 10:29:25.986,2020-08-15 22:00:00,nice
1,1,10094,2374,12934,2020-07-30 10:29:06.883916,2020-07-30 10:45:56.972019,50.0,5.0,money_back,accepted,instant,instant_payment,1 days 13:30:53.116084,-6 days +13:30:53.116778,16 days 11:30:53.116084,9 days 11:30:53.116778,-1 days +00:00:00,6 days 23:59:59.999306,2020-08-06 10:29:06.883222,2020-08-01,2020-08-16 22:00:00.000000,2020-08-15 22:00:00.000000,2020-08-18 04:20:03.631389,after,2020-07-30 10:45:55.890861,Instant Payment Cash Request 10094,nice,NaT,NaT,nice
2,2,12969,4261,12934,2020-08-18 17:03:16.380648,2020-08-18 17:04:24.513048,50.0,5.0,money_back,accepted,instant,instant_payment,0 days 06:56:43.619352,-7 days +06:56:43.640985,14 days 00:00:13.055352,7 days 00:00:13.076985,-1 days +19:03:29.436000,6 days 23:59:59.978367,2020-08-25 17:03:16.359015,2020-08-19,2020-09-01 22:00:00.000000,2020-09-01 17:03:29.436000,2020-09-03 06:05:37.049392,after,2020-08-18 17:04:23.114327,Instant Payment Cash Request 12969,nice,NaT,NaT,nice
3,3,14683,6204,12934,2020-09-05 11:15:19.626216,2020-09-05 11:18:13.557782,100.0,5.0,money_back,accepted,instant,instant_payment,2 days 12:44:40.373784,-5 days +12:44:40.393945,14 days 00:00:14.434784,7 days 00:00:14.454945,0 days 10:38:36.069102,6 days 23:59:59.979839,2020-09-12 11:15:19.606055,2020-09-08,2020-09-19 00:36:57.991898,2020-09-19 11:15:34.061000,2020-09-19 00:36:58.048016,after,2020-09-05 11:18:12.405354,Instant Payment Cash Request 14683,nice,NaT,NaT,nice
4,4,17478,8857,12934,2020-09-23 13:44:15.487683,2020-09-23 13:44:54.658790,50.0,5.0,money_back,accepted,instant,instant_payment,0 days 10:15:44.512317,-14 days +10:15:44.534063,14 days 00:00:12.044317,0 days 00:00:12.066063,12 days 03:49:18.007404,13 days 23:59:59.978254,2020-10-07 13:44:15.465937,2020-09-24,2020-09-25 09:55:09.524596,2020-10-07 13:44:27.532000,2020-09-25 09:55:09.562910,after,2020-09-23 13:44:53.535180,Instant Payment Cash Request 17478,nice,NaT,NaT,nice
5,5,17791,11369,12934,2020-09-25 09:58:04.442154,2020-10-06 14:39:28.478601,10.0,5.0,money_back,accepted,instant,postpone,0 days 14:01:55.557846,-7 days +14:01:55.579246,39 days 13:01:55.557846,32 days 13:01:55.579246,28 days 08:17:12.508463,6 days 23:59:59.978600,2020-10-02 09:58:04.420754,2020-09-26,2020-10-06 14:42:47.491537,2020-11-03 23:00:00.000000,2020-10-06 14:39:33.571179,before,2020-09-25 09:58:39.706787,Postpone Cash Request 17791,nice,2020-10-09 09:58:18.793,2020-11-03 23:00:00,nice
6,6,17791,9212,12934,2020-09-25 09:58:04.442154,2020-09-25 09:58:41.146192,10.0,5.0,money_back,accepted,instant,instant_payment,0 days 14:01:55.557846,-7 days +14:01:55.579246,39 days 13:01:55.557846,32 days 13:01:55.579246,28 days 08:17:12.508463,6 days 23:59:59.978600,2020-10-02 09:58:04.420754,2020-09-26,2020-10-06 14:42:47.491537,2020-11-03 23:00:00.000000,2020-10-06 14:42:47.523911,after,2020-09-25 09:58:39.706787,Instant Payment Cash Request 17791,nice,NaT,NaT,nice
7,7,20137,12237,12934,2020-10-09 12:38:14.370122,2020-10-09 12:39:53.922936,10.0,5.0,money_back,accepted,instant,instant_payment,0 days 11:21:45.629878,0 days 11:21:21.266119,10 days 00:00:24.363759,10 days 00:00:00,8 days 19:29:13.165421,0 days 00:00:24.363759,2020-10-09 12:38:38.733881,2020-10-10,2020-10-10 17:09:25.568460,2020-10-19 12:38:38.733881,2020-10-10 17:09:25.604127,after,2020-10-09 12:39:52.859392,Instant Payment Cash Request 20137,nice,NaT,NaT,nice
8,8,20377,12495,12934,2020-10-10 17:10:32.703634,2020-10-10 17:11:15.230433,10.0,5.0,money_back,accepted,instant,instant_payment,-1 days +06:49:27.296366,-1 days +06:49:18.162429,10 days 00:00:09.133937,10 days 00:00:00,6 days 01:22:15.734136,0 days 00:00:09.133937,2020-10-10 17:10:41.837571,2020-10-10,2020-10-14 15:48:26.103435,2020-10-20 17:10:41.837571,2020-10-14 15:48:26.135796,after,2020-10-10 17:11:13.931870,Instant Payment Cash Request 20377,nice,NaT,NaT,nice
9,9,21111,13455,12934,2020-10-14 15:50:46.902188,2020-10-14 15:52:29.294736,10.0,5.0,money_back,accepted,instant,instant_payment,-1 days +08:09:13.097812,-1 days +08:07:31.876135,15 days 00:59:57.633812,15 days 00:58:16.412135,9 days 01:39:41.495114,0 days 00:01:41.221677,2020-10-14 15:52:28.123865,2020-10-14,2020-10-20 15:11:03.040886,2020-10-29 16:50:44.536000,2020-10-20 15:11:03.078056,after,2020-10-14 15:51:22.315282,Instant Payment Cash Request 21111,nice,NaT,NaT,nice
10,10,22530,15234,12934,2020-10-20 15:12:17.681432,2020-10-20 15:14:55.016147,10.0,5.0,money_back,accepted,instant,instant_payment,-1 days +08:47:42.318568,-1 days +08:45:06.658145,22 days 00:58:42.318568,22 days 00:56:06.658145,12 days 02:48:32.612383,0 days 00:02:35.660423,2020-10-20 15:14:53.341855,2020-10-20,2020-10-30 13:22:27.387617,2020-11-11 16:11:00.000000,2020-10-30 13:22:27.426773,after,2020-10-20 15:14:09.852179,Instant Payment Cash Request 22530,nice,NaT,NaT,nice